# User-specific configuration
config.yaml
.env

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
server/nginx.dev.conf
server/run_dev.sh
__pycache__/
